*{
  box-sizing: border-box;
  border-radius: 5px;
}
body{
  height: auto;
  width: 100vw;
  padding: 10px;
  overflow-x: hidden;
  border: 1px solid red;
}
.App {
  margin-left: 10px;
  margin-right: 20px;
  font-family: sans-serif;
  overflow: hidden;
}

#navmobclose{
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbtn{
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width:600px) {
 
  header .navbtn{
    visibility: visible;
    opacity: 1;
    position:relative;
    right: 0px;
    font-size: 1.8rem;
  }
  header nav{
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 30vw;
    left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:  translateY(-100vh);
    transition: 1s;
    gap: 5px;
    z-index: 5;
    background-color: rgb(181, 177, 177);
  }
  header .responsivenav{
    height: 60vh;
    width: 70vw;
     transform: none;
  }

}

.thesirentext{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 0px 3px  rgb(138, 132, 132);
  font-size: large;
}
.the{
  transform: rotate(90deg);
}

.Navbar{
  height: 50px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto auto;
}

 /* NavComponentsstyle */

#image{
  box-sizing: border-box;
  height: 190px;
  width: 270px;
  background-size: contain;
}

.menutopposts{
 display: grid;
 grid-template-columns: 1fr 1fr;
 width: 90vw;
}
.dataParent{
  width: 90vw; 
  display: flex;
}
.menu{
  width: 55vw;
  grid-column: 1/2;
  margin-right: 5px;
  display: block;
}
.article{
  height: 200px;
  display: grid;
  grid-template-columns: 25vw 30vw;
  
}

.parentpicture{
 grid-column: 1/2;
}

.data{
margin-left: -50px;
}
.topposts{
  width: 35vw;
  grid-column: 2/3;
}
#imagebigpost{
  width: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#smallpostsimg{
height: 170px;
width: 250px;
background-position: ceenter;
background-size: cover;
background-repeat: no-repeat;
}
.Advertisementparent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Advertisement{
  height: 520px;
  width: 350px;
}

#ads{
  height: 520px;
  width: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Load{
  display: flex;
}
#load{
  height: 20px;
  width: 20px;
}
#loadtext{
  margin-top: 0px;
  margin-left: 10px;
}

/* Homestyles */
.threeimages{
  height: 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.Bigimage{
  grid-row: 1/3;
  grid-column: 1/2;

}
#webbigimg{
height: 100%;
}
.twoimages{
  grid-row:1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
}
.image1{
  height: 48%;
  width: 100%;
  
}
#imageset{
  height:100%;
  width: 100%;
  background-position:center ;
  background-size: cover;
  background-repeat: no-repeat ;
}
.image2{
  height: 48%;
  width: 100%;
}
.thelatest{
  height: 32vw;
  width: 97vw;
  display: flex;
  justify-content: space-between;
}
.latestarticle{
  height:200px;
  width:360px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgb(76, 74, 74);
}
.latestpicture{
  grid-row: 1/2;
}
.latestdata{
  grid-row: 2/3;
}
#latestimage{
  height: 200px;
  width: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.homelatestarticles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.LeftArticles{
  grid-column: 1/2;
}

#homeimagebigpost{
  height: 260px;
  width: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.homeimagebigpost{
  display:flex;
   gap:5px; height:260px; margin:5px;
}
.homelftsmlartcles{
  display: flex;
  gap: 25px;
  height: 250px;
  margin: 5px;
}
#homeleftsmallpicture{
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homedata{
  height:300px;
}
.homesmalldata{
  height: 250px;
}

#carouselimg{
  width: 100%;
  height: 25vw;
}
.carouseltext{
  margin-top: -140px;
  text-shadow: 2px 2px 2px grey;
padding: 20px;
}

.RightArticles{
  grid-column: 2/3;
  display: grid ;
  grid-template-rows: repeat(8 1fr);
}
.homeAdvertisementparent{
  grid-row: 1/4;
  margin: auto auto;
}

#homeads{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
.homebigpost{
  width: 100%;
}
.homebigarticle{
  grid-row: 4/6;

}
.homerightbigimg{
  width: 100%;
  margin: auto auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homedataright{
  grid-row: 6/8;
}

.homeLatestpost{
  display: flex;
  gap: 10px;
  padding: 20px;
}
.latestarticlehome{
  border: 1px solid grey;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#smallposts{
  display: flex;
  gap: 10px;
  border: 1px solid black ;
  box-shadow: 2px 2px 2px grey;
  margin: 5px;
}
#smallpostsimg{
  margin: 10px;
}



/* IndividualComponentStyles */
 .individualparent{
  margin: auto auto;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
 }
 .ParentBackandhome{
  margin: auto auto;
  width: 90vw;
  height:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
 }
#Imgbackbtn{
  height: 30px;
  width: 30px;
}
#backbtnimg{
height: 30px;
width: 30px;
}

 .clapsandshareparent{
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.clapsandshareimages{
  position: fixed;
  top: 60%;
}
.clap{
  display: flex;
}
.share{
  display: flex;
}
#clapsimage {
   height: 40px;
   width: 40px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}
#shareimage{
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.ProfileParent{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Profile{
  display: flex;
  gap: 10px;
}
#profilenameName{
  color:grey;
  padding-top: 10px;
}
#profilenameread{
  color: grey;
  font-size: 12px;

}

.socialmediaicons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#socialmedia{
  height:30px;
  width:30px;

}
#boxes{
  height: 25px;
  width: 25px;
  margin: 10px;
}

 .individualdata{
  grid-column: 2/3;
  grid-row: 1/3;
  border: 2px solid black;
  box-shadow: 2px 2px 4px grey;
  padding: 20px;
 }
 .empty{
  grid-row: 1/3;
  grid-column: 3/4;
 }

.MorefromSiren{
  grid-row: 3/4;
  grid-column:1/4;
  z-index: 2;
  background-color: rgb(243, 240, 240);
}

#morefromsiren{
  margin-left: 30px;
}
.moresirenposts{
  display: flex;
  justify-content: space-around;

}
#sirenpostsimg{
  height: 250px;
  width:300px;
}
.sirenpost{
  height:450px;
  width: 300px;
}


/*Footer*/
.parentFooter{
  height: 400px;
  width: 100%;
  margin: auto auto;
  background-color: rgb(234, 223, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.ChildFooter{
   height:340px;
   width: 90vw;
   background-color: rgb(34, 33, 33);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   z-index: 2;
   padding: 20px;
   gap: 30px;
}

#Footerlogo{
  height: 180px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;

}

.boldtext{
  color: white;
  font-size: 20px;
}
.copyright{
  height: 20px;
  width: 20px;
  margin-top:5px ;
}

.IndividualNav{
  height: 10vw;
  width: 90vw;
  padding: 30px;
  margin : auto auto;
  box-shadow: 0px 2px 2px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.Getstarted{
  height: 40px;
  padding: 10px;
  border: 1px solid lightsteelblue;
  background-color: rgb(64, 147, 255);
  box-shadow: 4px 4px 2px lightcyan;
  color: black;
  font-weight: bold;
}


@media screen and (min-width: 300px) and (max-width: 500px) {

  *{
    box-sizing: border-box;
  }
body{
  width:100vw;
  padding: 0px;
  margin: 0px;
}
.navmq{
  display: flex;
  justify-content: space-around;
}
.IndividualNav{
  margin-bottom: 5px;
}
.thesirentext{
font-size: 15px;
}
.Getstarted{
  height: 30px;
  padding: 5px;
}
.individualparent{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
.ParentBackandhome{
padding: 0px 20px;
}
.clapsandshareparent {
  display: none;
}
.empty{
  display: none;
}
.individualdata{
  width: 90vw;
  grid-row: 1/2;
  grid-column: 1/2;
}
.ProfileParent{
  flex-direction: column;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  
}
#profilenameName{
font-size: 20px;
}
.socialmediaicons{
margin-top: 10px;
}

 
.mqhead{
  font-size: 25px;
}
#mqimg{
  height: 180px;
  width: 80vw;
}

#mqdescription{
  font-size: 20px;
}

.mqprofile{
  display: none;
}


.MorefromSiren{
  height: auto;
  width: 90vw;
  grid-row: 2/3;
  grid-column: 1/2;
}
.moresirenposts{
  flex-direction: column;
}
.sirenpost{
  height: auto;
  width: 90vw;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;

}

.parentFooter{
  height: auto;
  width: 90vw;
  margin: auto auto;
  flex-wrap: wrap;
}
.ChildFooter{
  height: auto;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Footerlogo{
  height: 150px;
  width: 40vw;
}
.boldtext
{
  margin-left: 10px;
}

/* Home-style-mobile-view */
.threeimages{
  height: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.twoimages{
  grid-row: 1/2;
  grid-column: 1/2;
  display: none;
}

.thelatest{
  flex-direction: column;
  height: auto;
  width: 90vw;
}
.latestarticle{
  height: 400px;
  width: 90vw;
  margin: auto auto;
}
#latestimage{
  height: 180px;
  width: 90vw;
}
.mqstyle{
  font-size: 15px;
}

.homelatestarticles{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
.LeftArticles{
  grid-row: 1/2;
}
.homeimagebigpost{
height: 400px;
width: 90vw;
flex-direction: column;
border: 1px solid black;
}
#homeimagebigpost{
  height: 180px;
  width: 89vw;
}
#homeleftsmallpicture{
  height: 180px;
  width: 89vw; 
}
.homelftsmlartcles{
  flex-direction: column;
  height: auto;
  width: 90vw;
  gap: 0px;
  border: 1px solid black;
}
.carouselarticles{
  height: 200px;
  width: 90vw;
border: 1px solid black;
}
#carouselimg{
  height: 100%;
}

.RightArticles{
  grid-row: 2/3;
  grid-column: 1/2;
}
.homeAdvertisementparent {
  display: none;
}
.Advertisementparent{
display: none;
}
.hid{
  display: none;
}
#smallposts{
  height: 180px;
  width: 89vw;
  border: 0px ;
  box-shadow: 0px 1px 0px;
}
#smallpostsimg{
width:35vw;
height:100px;
border: 1px solid black;
}
.homeLatestpost{
  flex-direction: column;
}

/* AllRoute-compostyles */

.menutopposts{
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
.menu{
  grid-row: 1/2;
  grid-column: 1/2;
}
#image{
  width: 40vw;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0px;
}
.article{
  height: auto;
  width: 90vw;
  gap: 5px;
  grid-template-columns: 40vw auto;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;

}
.data{
  margin-left: 0px;
}

.topposts{
  grid-row:2/3;
  grid-column: 1/2;
}
.parentpicture{
  width: 89vw;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
margin-bottom: 5px;
} 
#imagebigpost{
  width: 89vw;
}

.smallposts{
  width: 89vw;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;

}
.mqroutespost{
  display: flex;
}
.mqroutesheadcategory{
  display: block;
}
.dataParent{
  margin: auto auto;
}

}

@media screen and (min-width:501px) and (max-width:768px) {
  /* Individual Page */
  #sirenpostsimg{
    height: 200px;
    width: 95%;
  }
  #Mqtabletimg{
    height: 30%;
    width: 30%;
  }

  .clapsandshareparent {
    display: none;
  }
  .empty{
    display: none;
  }
  
  .article{
    height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 3px;
  }
  .picture{
    grid-column: 1/2;
  }
  .data{
    grid-column: 2/3;
  }

  #image{
    width: 100%;
    height: 70%;
  }
  .data{
    margin-left: 0px;
  }
  .Advertisementparent{
    display: flex;
    
  }
 #ads{
  border: 2px solid red;
  height: 120%;
  width: 90%;
  margin: 300px auto;
 }
#mqtablettext{
  font-size: 14px;
}
.thelatest{
  height: auto;
  gap: 5px;

}
.latestarticle{
  height: auto;
}
#latestimage{
  width: 100%;
  height: 100%;
}
.homeimagebigpost{
  height: auto;
}
#homeimagebigpost{
  height: 100%;
  width: 220px;

}
.homelftsmlartcles{
height: auto;
margin-top: 10px;
}
.homesmalldata{
  height: auto;
}
#mqtabdes{
  display: none;
}
.homeAdvertisementparent{
width: 100%;
}
#homeads{
  height: 100%;
  width: 100%;
}
#smallposts{
  flex-direction: column;
}
.Load{
  display: none;
}
}